{# -*- mode: jinja2 -*- #}
{% extends "include/base.html" %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <header role="banner">
	<div class="jumbotron" style="padding: 1rem 1rem">
	    <h1 class="display-3">
		<img src="{{ static('image/favicon.png') }}">
		Climbing Asso Portal
	    </h1>
	</div>
    </header>

    {% if not user.is_authenticated %}
	<a class="btn btn-primary btn-lg m-b-1" href="{{ url('account_login') }}" role="button">
	    {% icon 'fa-sign-in-alt' %} Connexion</a></li>
    {% endif %}
{% endblock %}
