ClimbingAssoPortal/migrations/*.py

*~
__pycache__
du.log
trash/

.google-api-credentials/
ClimbingAssoPortal/serializers-removed.py
ClimbingAssoPortal/locale/django.json
ClimbingAssoPortal/locale/django.pot
ClimbingAssoPortal/locale/*/LC_MESSAGES/django.mo
ClimbingAssoPortal/static-ext/dist/
ClimbingAssoPortal/static-src/node_modules
ClimbingAssoPortal/static-src/node_modules/
ClimbingAssoPortal/static-src/package-lock.json
ClimbingAssoPortal/static-src/packages/
ClimbingAssoPortal/static-src/yarn-error.log
ClimbingAssoPortal/static-src/yarn.lock
ClimbingAssoPortal/static/css/
ClimbingAssoPortal/static/js/
FrenchZipCode/laposte_commnouv.csv
FrenchZipCode/laposte_hexasmal.csv
db.sqlite3
media/
node_modules/
local_packages/
root/
static/
!ClimbingAssoPortal/static/

fixtures/001_super_user.json
fixtures/101_french_city.json
fixtures/202_user.json
fixtures/203_account.json
fixtures/204_member.json
fixtures/206_filer.json
fixtures/301_route.json

ClimbingAssoPortal/jinja2/include/tmp.html
ClimbingAssoPortal/jinja2/rename.sh
ClimbingAssoPortal/jinja2/trash/
ClimbingAssoPortal/management/commands/member-isssues.txt
ClimbingAssoPortal/static-src/src/test.js
ClimbingAssoPortal/static/js-ext/angular-resource.min.js.map
ClimbingAssoPortal/static/js-ext/angular.min.js.map
ClimbingAssoPortal/templates/disabled/
ClimbingAssoPortal/views/rest_views-disabled.py
TODO.txt
data/
django-application
fabrice-login.txt
import-members.sh
password.txt
ressources/
setup-tools/make-translation-sh
tools/trash.py
trash.py
