*~
__pycache__
du.log
#
db.sqlite3
#
ClimbingAssoPortal/static/node_modules/
ClimbingAssoPortal/static/packages/
ClimbingAssoPortal/static/yarn-error.log
ClimbingAssoPortal/static/yarn.lock
# filer
# packages/
#
# AdhesionApplication/migrations/
# static/
# ClimbingAssoPortal/templates/
ClimbingAssoPortal/jinja2/include/tmp.html
ClimbingAssoPortal/jinja2/rename.sh
ClimbingAssoPortal/jinja2/trash/
data/laposte_commnouv.csv
data/laposte_hexasmal.csv
django-application
password.txt
paypal-test/
setup-tools/make-translation-sh
