ClimbingAssoPortal/migrations/*.py

*~
__pycache__
du.log
trash/

.google-api-credentials/
ClimbingAssoPortal/fixtures/db.json
ClimbingAssoPortal/static-ext/dist/
ClimbingAssoPortal/static-ext/package-lock.json
ClimbingAssoPortal/static/node_modules/
ClimbingAssoPortal/static/packages/
ClimbingAssoPortal/static/yarn-error.log
ClimbingAssoPortal/static/yarn.lock
FrenchZipCode/laposte_commnouv.csv
FrenchZipCode/laposte_hexasmal.csv
db.sqlite3
filer
filer_public/
filer_public_thumbnails/
packages/
static/
!ClimbingAssoPortal/static/

# ClimbingAssoPortal/locale/
# ClimbingAssoPortal/templates/
ClimbingAssoPortal/jinja2/include/tmp.html
ClimbingAssoPortal/jinja2/rename.sh
ClimbingAssoPortal/jinja2/trash/
ClimbingAssoPortal/static-ext/node_modules/
ClimbingAssoPortal/static-ext/yarn-error.log
ClimbingAssoPortal/static-ext/yarn.lock
TODO.txt
django-application
password.txt
paypal-test/
ressources/
screenshots/
setup-tools/make-translation-sh

ClimbingAssoPortal/static-ext/webpack-demo/
ClimbingAssoPortal/static/js-ext/angular-resource.min.js.map
ClimbingAssoPortal/static/js-ext/angular.min.js.map

ClimbingAssoPortal/serializers-removed.py
ClimbingAssoPortal/static-ext/node_modules
ClimbingAssoPortal/static-ext/src/test.js
ClimbingAssoPortal/views/rest_views-disabled.py
data/
node_modules/
tools/trash.py
trash.py

ClimbingAssoPortal/management/commands/member-isssues.txt
ClimbingAssoPortal/templates/disabled/
fabrice-login.txt
fixtures/001_SuperUser.json
fixtures/101_FrenchCity.json
fixtures/102_Route.json
import-members.sh
