{# -*- mode: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - {{ _('Rest API') }}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{#
{% block breadcrumb_li %}
    <li class="breadcrumb-item active">{{ _('Rest API') }}</li>
{% endblock %}
#}

{% block content %}
    <h2>Table of Contents</h2>
    <ul>
	<li>
	    <a href="/api">
		{{ _('Rest API') }}
	    </a>
	</li>
	<li>
	    <a href={{ url('schema-swagger-ui') }}>
		{{ _('Swagger Doc') }}
	    </a>
	</li>
	<li>
	    <a href={{ url('schema-redoc') }}>
		{{ _('Redoc') }}
	    </a>
	</li>
	<li>
	    <a href={{ url('graphql') }}>
		{{ _('GraphiQL') }}
	    </a>
	</li>
	<li>
	    <a href={{ url('old-swagger') }}>
		{{ _('Old Swagger Doc') }}
	    </a>
	</li>
    </ul>
   {% endblock %}
