{
    "env": {
	"browser": {
	    "presets": ["es2015", "react", "stage-2"],
	    "plugins": [
		["angularjs-annotate", { "explicitOnly" : true}]
	    ]
	},
	"latest-browser": {
	    "presets": [
		["env", {
		    "targets": {
			"browsers": ["last 2 versions"]
		    },
		    "debug": true
		}],
 		"react",
		"stage-2"
  	    ],
	    "plugins": [
		["angularjs-annotate", { "explicitOnly" : true}]
	    ]
	},
	"node": {
	    "presets": [
		["env", {
		    "targets": {
			"node": "8.10"
		    }
		}],
 		"react",
 		"stage-2"
	    ]
	}
    }
}
