{# -*- mode: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import update_form %}

{% block title %} -
    {% if update %}
	{{ _('Update') }} {{ route.name }}
    {% else %}
	{{ _('New route') }}
    {% endif %}
{% endblock %}

{% block breadcrumb_li %}
    <li class="breadcrumb-item"><a href="{{ url('wall.route.index') }}">{{ _('Routes') }}</a></li>
    {% if update %}
	<li class="breadcrumb-item"><a href="{{ url('wall.route.details', route.pk) }}">{{ route.name }}</a></li>
	<li class="breadcrumb-item active">{{ _('Update') }}</li>
    {% else %}
	<li class="breadcrumb-item active">{{ _('New route') }}</li>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
	{% if update %}
	    {{ _('Update:') }} {{ route.name }}
	{% else %}
	    {{ _('New route') }}
	{% endif %}
    </h2>

    {#{ update_form(form, csrf_token) }#}

    <form method="POST" action=".">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button class="btn btn-primary" type="submit">{{ _('Save') }}</button>
    </form>
{% endblock %}
