{# -*- mode: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - {{ _('Account') }}{% endblock %}

{% block breadcrumb_li %}
    <li class="breadcrumb-item active" aria-current="page">{{ _('Account') }}</li>
{% endblock %}

{# {% block content_class %}account{% endblock %} #}

{% block content %}
    {# <section id="content_body"> #}
    <div class="container">
        {# {% include "_messages.html" %} #}
        <div class="row">
            <div class="col-md-3 columns">
		<div class="card">
		    <div class="card-header"><strong>{{ _("Settings") }}</strong></div>
		    <div class="list-group">
			<a class="list-group-item list-group-item-action account-settings" href="{{ url("account_settings") }}">
			    {{ _("Account") }}
			</a>
			<a class="list-group-item list-group-item-action account-password" href="{{ url("account_password") }}">
			    {{ _("Change password") }}
			</a>
			<a class="list-group-item list-group-item-action account-delete" href="{{ url("account_delete") }}">
			    {{ _("Delete account") }}
			</a>
		    </div>
		</div>
            </div>
            <div class="col-md-9 columns">
                {% block account_content %}{% endblock %}
            </div>
        </div>
    </div>
    {# </section> #}
{% endblock %}
