{# -*- mode: jinja2 -*- #}
{% extends "account/base.html" %}

{# {% block content_class %}account account-password{% endblock %} #}

{# {% block head_title %}{{ _("Change password") }}{% endblock %} #}

{% block account_content %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="">
                <legend>{{ _("Change password") }}</legend>
                <fieldset>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
