{# -*- mode: jinja2 -*- #}
{% extends "include/base_layout.html" %}

{# Note: cannot use includes due to inner blocks #}

{% set use_cdn = false %}

{##################################################################################################}

{% block head_scripts %}
    {% if use_cdn %}
	{# Fontawesome #}

	{# https://fontawesome.com/get-started/web-fonts-with-css #}
	{# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" #}
	{# 	  integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" #}
	{# 	  crossorigin="anonymous"> #}
        {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" #}
	{# 	  integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" #}
	{# 	  crossorigin="anonymous"> #}

	{# https://fontawesome.com/get-started/svg-with-js #}
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
		integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
		crossorigin="anonymous">
	</script>

	{# <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" #}
	{# 	integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" #}
	{# 	crossorigin="anonymous"> #}
	{# </script> #}

	{# Bootstrap #}
	{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" #}
	{# 	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" #}
	{# 	  crossorigin="anonymous"> #}

    {% else %}
	{# Fontawesome #}
	<script defer src={{ static('js-ext/fontawesome-all.min.js') }}></script>
	<link rel="stylesheet" href="{{ static('css-ext/fa-svg-with-js.css') }}">
	<script defer src={{ static('js-ext/fa-v4-shims.min.js') }}></script>
	<link rel="stylesheet" href="{{ static('css-ext/fa-solid.min.css') }}">

	{# Bootstrap #}
        {# <link rel="stylesheet" href={{ static('css-ext/bootstrap.min.css') }}> #}
	<link rel="stylesheet" href="{{ static('css/common.css') }}">

	<link rel="stylesheet" href="{{ static('css-ext/perfect-scrollbar.css') }}">
    {% endif %}
{% endblock %}

{##################################################################################################}

{% block lazy_scripts %}
    {# JQuery (Bootstrap works with slim build) #}
    {% if use_cdn %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous">
	</script>
    {% else %}
	<script type="text/javascript" src={{ static('js-ext/jquery.min.js') }}></script>
    {% endif %}

    {# Popper #}
    {% if use_cdn %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous">
	</script>

	{# Bootstrap #}
	{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" #}
	{# 	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" #}
	{# 	crossorigin="anonymous"> #}
	{# </script> #}
    {% else %}
	<script type="text/javascript" src={{ static('js-ext/popper.min.js') }}></script>

	{# Bootstrap #}
	{# <script type="text/javascript" src={{ static('js-ext/bootstrap.min.js') }}></script> #}
	<script type="text/javascript" src={{ static('js/common.js') }}></script>
    {% endif %}
{% endblock %}

{##################################################################################################}

{% block top_navbar %}
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
	<div class="container">
	    <span class="skiplink-text">Skip to main content</span>
	</div>
    </a>

    {# nav / fixed-top navbar-expand-lg #}
    <header id="top-navbar" class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row">
	<a class="navbar-brand ml-md-5" href="/"><img class="navbar-brand-icon" src="{{ static('image/favicon.png') }}">Climbing Asso Portal</a>
	<button class="navbar-toggler" type="button"
		data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
		{# <li class="nav-item active"> #}
		{# 	<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> #}
		{# </li> #}
		{# <li class="nav-item"> #}
		{# 	<a class="nav-link" href="#">Link</a> #}
		{# </li> #}
		{% if user.is_authenticated %}
		    <li class="nav-item dropdown mr-md-5 {% block nav_account %}{% endblock %}">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
			   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			   {% icon 'fa-user' %} {{ user.username }} {#get_full_name()#}</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			    <a class="dropdown-item" href="{{ url('account_settings') }}">
				{% icon 'fa-user' %}  {{ _('Settings') }}</a>
			    {% if request.user.is_staff %}
				{# {% url THEME_ADMIN_URL|default:"admin:index" %} #}
				<a class="dropdown-item" href="{{ url('admin:index') }}">
				    {% icon 'fa-cog' %} {{ _('Admin') }}</a>
				{% endif %}
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{ url('account_logout') }}">
				    {% icon 'fa-sign-out-alt' %} {{ _('Log out') }}</a>
			</div>
		    </li>
		{% else %}
		    <li class="nav-item {% block nav_login %}{% endblock %}">
			<a class="nav-link" href="{{ url('account_login') }}">
			    {% icon 'fa-sign-in-alt' %} {{ _('Log in') }}
			</a>
		    </li>
		    {% if ACCOUNT_OPEN_SIGNUP %}
			<li class="nav-item mr-md-5">
			    <a class="nav-link" href="{{ url('account_signup') }}">{{ _('Sign up') }}</a>
			</li>
		    {% endif %}
		{% endif %}
	    </ul>
	</div>
    </header>
{% endblock %}

{##################################################################################################}

{% block left_sidebar %}
    <nav id="left-sidebar" class="active">
	<div class="left-sidebar-wrapper">
	    <div id="left-sidebar-open-wrapper">
		<button id="open-left-sidebar" type="button" class="btn btn-sm">{% icon 'fas.fa-caret-right' %}</button>
	    </div>
	    <div class="left-sidebar-header">
		<button id="close-left-sidebar" type="button" class="btn btn-sm">{% icon 'fas.fa-caret-left' %}</button>
	    </div>
	    <div class="left-sidebar-spacer">
		<div id="left-sidebar-scroll">
		    <ul class="sidebar-elements">
			{% block left_sidebar_menu %}
			    <li class="divider">Menu</li> 
			<li class="active"><a href="index.html">{% icon 'fas.fa-home' %}<span>Dashboard</span></a> 
			</li> 
			<li class="parent"><a href="#">{% icon 'fas.fa-home' %}<span>UI Elements</span></a> 
			    <ul class="sub-menu"> 
				<li><a href="ui-alerts.html">Alerts</a> 
				</li> 
				<li><a href="ui-buttons.html">Buttons</a> 
				</li> 
				<li><a href="ui-panels.html">Panels</a> 
				</li>
			    </ul>
			</li>
		    {% endblock %}
		    </ul>
		</div>
	    </div>
	    <div class="left-sidebar-footer">
		<p>
		    {% icon 'fa-copyright' %}
		    <a href="https://github.com/FabriceSalvaire/climbing-asso-portal">Climbing Asso Portal 2018</a>
		</p>
		<p><a href="{{ url('mentions-legales') }}">Mentions légales</a></p>
	    </div>
	</div>
    </nav>
{% endblock %}

{##################################################################################################}

{# {% block left_sidebar_menu %} #}
{# <li class="divider">Menu</li> #}
{# <li class="active"><a href="index.html">{% icon 'fas.fa-home' %}<span>Dashboard</span></a> #}
{# </li> #}
{# <li class="parent"><a href="#">{% icon 'fas.fa-home' %}<span>UI Elements</span></a> #}
{#     <ul class="sub-menu"> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{# 	<li><a href="ui-alerts.html">Alerts</a> #}
{# 	</li> #}
{# 	<li><a href="ui-buttons.html">Buttons</a> #}
{# 	</li> #}
{# 	<li><a href="ui-panels.html">Panels</a> #}
{# 	</li> #}
{#     </ul> #}
{# </li> #}
{# <li class="parent"><a href="#">{% icon 'fas.fa-folder' %}<span>Menu Levels</span></a> #}
{#     <ul class="sub-menu"> #}
{# 	<li class="parent"><a href="#"><span>Level 1</span></a> #}
{# 	    <ul class="sub-menu"> #}
{# 		<li><a href="#"><span>Level 2</span></a> #}
{# 		</li> #}
{# 		<li class="parent"><a href="#"><span>Level 2</span></a> #}
{# 		    <ul class="sub-menu"> #}
{# 			<li><a href="#"><span>Level 3</span></a> #}
{# 			</li> #}
{# 			<li><a href="#"><span>Level 3</span></a> #}
{# 			</li> #}
{# 		    </ul> #}
{# 		</li> #}
{# 	    </ul> #}
{# 	</li> #}
{# 	<li class="parent"><a href="#"><span>Level 1</span></a> #}
{# 	    <ul class="sub-menu"> #}
{# 		<li><a href="#"><span>Level 2</span></a> #}
{# 		</li> #}
{# 		<li class="parent"><a href="#"><span>Level 2</span></a> #}
{# 		    <ul class="sub-menu"> #}
{# 			<li><a href="#"><span>Level 3</span></a> #}
{# 			</li> #}
{# 			<li><a href="#"><span>Level 3</span></a> #}
{# 			</li> #}
{# 		    </ul> #}
{# 		</li> #}
{# 	    </ul> #}
{# 	</li> #}
{#     </ul> #}
{# </li> #}
{# {% endblock %} #}

{##################################################################################################}

{# Standard page layout #}
{% block body_container %}
    <div id="body-content">
	<div class="container-fluid">
	    {# flex-xl-nowrap #}
	    <div class="row justify-content-center px-3 py-3">
		<div class="col-xl-12">
		    {# Breadcrumb #}
		    {% block breadcrumb %}
			<nav aria-label="breadcrumb">
			    <ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page">
				    <a href="/">{% icon 'fa-home' %} {{ _('Home') }}{# Acceuil #}</a></li>
				{% block breadcrumb_li %}{% endblock %}
			    </ol>
			</nav>
		    {% endblock %}

		    {# Page content #}
		    <main class="" role="main">
			{% include "include/message.html" %}
			{% block content %}{% endblock %}
		    </main>

		    {# Footer #}
		    {% block footer %}{% endblock %}
		</div>
	    </div>
	</div>
    </div>
{% endblock %}

{##################################################################################################}

{#
{% block footer %}
    <hr />
    <footer role="contentinfo" >
	<p>
	    {% icon 'fa-copyright' %}
	    <a href="https://github.com/FabriceSalvaire/climbing-asso-portal">
		Climbing Asso Portal 2018</a>
		/ <a href="{{ url('mentions-legales') }}">Mentions légales</a>
	</p>
    </footer>
{% endblock %}
#}
