%unselectable {
    user-select: none;
}

div.slider-wrapper {
    @extend %unselectable;
    width: 25em;

    .slider {
	width: 100%;
    }

    .slider-min-max {
	display: inline-flex;
	width: 100%;

	.slider-value-min {
	    text-align: left;
	    width: 50%;
	}

	.slider-value-max {
	    text-align: right;
	    width: 50%;
	}
    }
}

div.route-table-wrapper {
    height: 500px !important;
    overflow-y: scroll;
    font-size: 80%;
}
