{# -*- mode: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - {{ _('Member Data') }}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{#
{% block breadcrumb_li %}
    <li class="breadcrumb-item active">{{ _('Member Data') }}</li>
{% endblock %}
#}

{% block content %}
    <h2>{{_('Member Data')}}</h2>

    <div class="container-fluid py-2">
	<div class="row">
	    <a role="button" class="btn btn-primary" href={{ url('member.member_list_csv') }}>{{ _('Export Member List as CSV') }}</a>
	</div>
    </div>
{% endblock %}
