{# -*- mode: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import new_button_group, search_by %}

{% block head %}
    <link rel="stylesheet" href={{ static('css-ext/ol.css') }}>
    {# <script src={{ static('js-ext/ol-debug.js') }}></script> #}
    <script src={{ static('js-ext/ol.js') }}></script>
{% endblock %}

{% block title %} - {{ _('Member Map') }}{% endblock %}

{% block breadcrumb_li %}
    <li class="breadcrumb-item active">{{ _('Member Map') }}</li>
{% endblock %}

{% block content %}
    <h2>{{_('Member Map')}}</h2>

    <div id="map" class="map"></div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
	var center = {longitude: 2.3491, latitude: 48.8533}
	var extent_margin = [20000, 20000]; // m
	var extent = null;
	var geoportail_api_key = null;
	var show_edit_toolbar = false;
    </script>
    <script src={{ static('js/member_map.js') }}></script>
{% endblock %}
