{# -*- mode: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import new_button_group, search_by_name %}

{% block head %}
    <link rel="stylesheet" href={{ static('css-ext/bootstrap-slider.min.css') }}>
    <style>
	#grade-slider {
	width: 100%;
	}
	.slider-min-max {
	display: inline-flex;
	width: 100%;
	}
	.slider-value-min {
	text-align: left;
	width: 50%
	}
	.slider-value-max {
	text-align: right;
	width: 50%
	}
	#filters {
	width: 50em;
	}
    </style>
{% endblock %}

{% block script %}
    {# <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script> #}
    {# <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> #}

    {# <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script> #}
    {# <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script> #}

    {# <script type="text/javascript" src={{ static('js-ext/react.development.js') }}></script>  #}
    {# <script type="text/javascript" src={{ static('js-ext/react-dom.development.js') }}></script>  #}

    <script type="text/javascript" src={{ static('js-ext/react.production.min.js') }}></script>
    <script type="text/javascript" src={{ static('js-ext/react-dom.production.min.js') }}></script>

    {# <script src={{ static('js-ext/bootstrap-slider.min.js') }}></script> #}
    {# <script src={{ static('js-ext/react-bootstrap-slider.js') }}></script> #}

    <script type="text/javascript" src={{ static('js-ext/babel-polyfill.min.js') }}></script>

    <script type="text/javascript" src={{ static('js/route_page_react.js') }}></script>
{% endblock %}

{% block title %} - {{ _('Routes') }}{% endblock %}

{% block breadcrumb_li %}
    <li class="breadcrumb-item active">{{ _('Routes') }}</li>
{% endblock %}

{% block content %}
    <h2>{{ _('Routes') }} </h2>

    <img class="mx-auto d-block" src={{ static('image/alice-milliat-wall.png') }}></img>

    <div id="filters" class="mx-auto"></div>

    <table class="table">
	<thead>
	    <tr>
		<th scope="col">{{ _('Line Number') }}</th>
		<th scope="col">{{ _('Grade') }}</th>
		<th scope="col">{{ _('Colour') }}</th>
		<th scope="col">{{ _('Name') }}</th>
		<th scope="col">{{ _('Comment') }}</th>
		<th scope="col">{{ _('Opener') }}</th>
		<th scope="col">{{ _('Opening date') }}</th>
	    </tr>
	</thead>
	<tbody id="route-table"></tbody>
    </table>
{% endblock %}
